<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Jeremy Sidener</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon2.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Regna - v2.2.0
    * Template URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header-transparent">
        <div class="container">

            <div id="logo" class="pull-left">

                <!- Uncomment below if you prefer to use a text logo -->
                <!-<h1><a href="#hero">JEREMY SIDENER</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    @*<li class="menu-active"><a href="index.html">Home</a></li>*@
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#services">Resume</a></li>
                    <li><a href="#portfolio">Portfolio</a></li><!--pdf to resume here-->
                    <li><a href="#team">Team</a></li><!--add links to classmates-->
                 
                    <li><a href="#contact">Contact Us</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Welcome to Jeremy Sidener's portfolio page!</h1>
            <h2>I am studying to become a web developer using full stack web development techniques </h2>
            <a href="#about" class="btn-get-started">CHECK ME OUT</a>
        </div>
    </section><!-- End Hero Section -->
<div class="container body-content">
  @RenderBody()
    <div id="contactForm">
        @Html.Partial("ContactAjax", new PersonalSite_MVC.UI.MVC.Models.ContactViewModel())
    </div>
    <div id="contactConfirm">
        @Html.Partial("EmailConfirm", new PersonalSite_MVC.UI.MVC.Models.ContactViewModel())
    </div>

</div>
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Regna</strong>. All Rights Reserved
            </div>
            <div class="credits">
                https://bootstrapmade.com/license/
                https://bootstrapmade.com/buy/?theme=Regna

                Designed by <a href="https://bootstrapmade.com/">BootstrapMade, Remixed by JEREMY SIDENER</a>
            </div>
        </div>
    </footer><!-- End Footer -->
    https://cdnjs.com/libraries/jquery/
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <script src="https://cdnjs.cloudflare.com?ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/superfish/superfish.min.js"></script>
    <script src="~/Content/assets/vendor/hoverIntent/hoverIntent.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts",false )
     <script>
         $("#contactConfirm").hide();
         $("#ContactCreateForm").submit(function (e) {
             var formData = $(this).serializeArray();
             e.preventDefault();
             $.ajax({
                 url: '@Url.Action("ContactAjax", "Home")',
                 type: 'POST',
                 data: formData,
                 datatype: 'json',
                 success: function (data) {
                     $("#contactForm").hide();
                     $("#contactConfirm").show();
                 }
             });
         });
     </script>
</body>

</html>



